@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/*font-family: 'Poppins', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
/*font-family: 'Heebo', sans-serif;*/

:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-logo: "Heebo", sans-serif;

  --clr-gray1: #333;
  --clr-gray2: #4f4f4f;
  --clr-gray3: #828282;
  --clr-gray4: #bdbdbd;
  --clr-gray5: #e0e0e0;
  --clr-gray6: #f2f2f2;
  --clr-primary: #2d9cdb;
  --clr-secondary: #eb5757;

  --ff-small: 0.875em;
  --ff-medium: 1em;
  --ff-h3: 1.125em;
  --ff-large: 1.5em;
  --ff-xl: 2em;
}
@media (min-width: 40em) {
  :root {
    --ff-small: 0.875em;
    --ff-medium: 1.125em;
    --ff-h3: 1.5em;
    --ff-large: 2.25em;
    --ff-xl: 3em;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

@media (min-width: 75em) {
  section {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

h1,
h2,
h3 {
  color: var(--clr-gray1);
}

h1 {
  font-size: var(--ff-xl);
  font-weight: 400;
}

h2 {
  font-size: var(--ff-large);
  font-weight: 400;
}

h3 {
  font-size: var(--ff-h3);
  font-weight: 500;
}

h4 {
  font-size: var(--ff-medium);
  font-weight: 300;
  color: var(--clr-gray3);
}

p {
  font-weight: 400;
  color: var(--clr-gray2);
}

img {
  width: 100%;
  height: auto;
  border-radius: 18px;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  padding: 1.3rem;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

label {
  display: block;
  font-size: var(--ff-small);
  font-weight: 500;
}

input {
  height: 2.4rem;
  width: 16rem;
  padding: 1em;
  border: 0;
  border-radius: 12px;
  background-color: var(--clr-gray6);
}

input::placeholder {
  color: var(--clr-gray4);
  font-size: var(--ff-small);
}

.input-ctn {
  position: relative;
}

.input-ctn button {
  position: absolute;
  left: 12.5rem;
  top: 0rem;
  bottom: 0;
  padding: 0 2em;
  border: 0;
  border-radius: 12px;
  background-color: var(--clr-primary);
  color: var(--clr-gray6);
  font-size: var(--ff-small);
}

.container {
  margin: 4rem 2rem;
}

@media (min-width: 65em) {
  .container {
    margin: 4rem 6rem;
  }
}

.flow-content > * + * {
  margin-top: 2rem;
}

.--light {
  color: var(--clr-gray3);
}

.--dark {
  color: var(--clr-gray6);
}

.primary {
  color: var(--clr-primary);
  font-weight: 500;
}

.secondary {
  color: var(--clr-secondary);
}

header {
  margin: 2rem 0;
}

nav {
  padding: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
}

nav,
.links {
  z-index: 2;
}

.navbar--color-background {
  background-color: var(--clr-gray6);
}

@media (min-width: 55em) {
  .nav-center {
    display: flex;
    justify-content: space-between;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--ff-logo);
  text-transform: capitalize;
}

.logo a {
  color: var(--clr-gray1);
  font-size: 2.25em;
  font-weight: 800;
}

.nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.8em;
}

@media (min-width: 55em) {
  .nav-toggle {
    display: none;
  }
}

.links {
  display: flex;
  align-items: center;
}

@media (max-width: 55em) {
  .links {
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    align-items: flex-end;
    height: 100vh;
    width: 60vw;
    padding: 2.5rem;
    background-color: var(--clr-gray6);

    transition: all 0.3s linear;
  }
}

.show-links {
  right: 0;
}

.links a {
  font-size: 1em;
  font-weight: 500;
  color: var(--clr-gray1);
  text-transform: capitalize;
  position: relative;
}

.pages {
  text-align: right;
}

@media (min-width: 55em) {
  .pages {
    display: flex;
    align-items: center;
  }
}

.pages a:after {
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  position: absolute;
  background: var(--clr-gray1);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.pages a:hover:after {
  width: 100%;
  left: 0;
}

.socials {
  padding: 1.3rem;
}

.socials img,
.footer-socials img {
  width: 25px;
  height: 25px;
  border-radius: 0;
}

@media (min-width: 55em) {
  .socials {
    display: none;
  }
}

.main .container {
  margin: 10rem 0 4rem 0;
}

.main p {
  font-size: var(--ff-medium);
}

.main .title,
.main .content {
  width: 80%;
  max-width: 70ch;
  margin: auto;
}

.main img {
  min-height: 200px;
  object-fit: cover;
}

.service-ctn {
  padding: 1.2rem;
}

@media (max-width: 55em) {
  .services-ctn > * + * {
    margin-top: 1rem;
  }
}

@media (min-width: 55em) {
  .services-ctn {
    display: flex;
  }

  .services-ctn > * + * {
    margin-left: 1rem;
  }
}

.services header {
  margin: 2rem 1.2rem;
}

.service-ctn span {
  color: #fff;
  padding: 0.5em;
  border-radius: 16px;
}

.--blue {
  background-color: var(--clr-primary);
}

.--green {
  background-color: #27ae60;
}

.--red {
  background-color: var(--clr-secondary);
}

.service-ctn h3 {
  font-weight: 700;
}

.service-ctn p {
  font-weight: 400;
}

.service-ctn button {
  border: 0;
  background-color: var(--clr-gray5);
  border-radius: 12px;
  padding: 1em 2em;
  color: var(--clr-gray3);
  font-weight: 500;
  cursor: not-allowed;
}

.selected {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
}

.selected button {
  background-color: var(--clr-primary);
  color: #fff;
  cursor: pointer;
}

@media (min-width: 40em) {
  .designs-ctn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
  }

  header {
    grid-area: 1 / 1 / 2 / 2;
  }

  .design-1 {
    grid-area: 2 / 1 / 4 / 2;
  }
  .design-2 {
    grid-area: 4 / 1 / 6 / 2;
  }
  .design-3 {
    grid-area: 1 / 2 / 3 / 3;
  }
  .design-4 {
    grid-area: 3 / 2 / 5 / 3;
  }

  .designs-link {
    grid-area: 5 / 2 / 6 / 3;
  }

  .designs-link {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media (max-width: 40em) {
  .designs-ctn > * + * {
    margin-top: 2rem;
  }
}

.design a {
  font-size: var(--ff-h3);
  font-weight: 500;
}

@media (max-width: 55em) {
  .team .container > * + * {
    margin-top: 2rem;
  }
}

@media (min-width: 55em) {
  .team .container {
    display: flex;
    align-items: center;
  }

  .team .hero1 {
    margin-right: 6rem;
  }
}

.team .hero1 h2 {
  font-size: 2.25em;
  width: 12ch;
}

.team .hero1 p {
  width: 25ch;
}

.team .hero2 {
  display: flex;
}

.team .hero2 .img-ctn {
  margin: auto;
  width: 100%;
}

.team .hero2 .img-ctn .img-1 {
  padding-bottom: 1rem;
  width: 90%;
}

.team .hero2 .ctn-1 {
  padding-right: 1rem;
}

.testimonial .quote p {
  font-size: var(--ff-large);
  color: var(--clr-gray1);
}

.testimonial .person {
  display: flex;
  align-items: center;
}

.testimonial img {
  width: 100px;
  height: 100px;
}

.testimonial .profil {
  margin-left: 1rem;
}

.footer {
  background-color: #100e1d;
}

.footer .container {
  padding: 2rem;
  margin-bottom: 0;
}

@media (min-width: 55em) {
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 55em) {
  .footer-content > * + * {
    margin-top: 2rem;
  }
}

.footer li {
  padding: 0.25rem;
}

.footer a {
  position: relative;
  font-size: var(--ff-small);
  color: var(--clr-gray6);
  font-weight: 400;
  text-transform: capitalize;
}

.footer-pages a:after {
  bottom: 0;
  content: "";
  height: 2px;
  width: 0;
  left: 50%;
  position: absolute;
  background: var(--clr-gray6);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-pages a:hover:after {
  width: 100%;
  left: 0;
}

.footer h2 {
  font-family: var(--ff-logo);
  font-weight: 700;
  color: var(--clr-gray6);
  text-transform: capitalize;
}

.footer-footer {
  text-align: center;
}

.footer-footer,
.footer-footer a {
  color: var(--clr-gray6);
}

.footer-footer a {
  text-decoration: underline;
}
